*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
*{
  list-style: none;
  text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, #95f9c3, #0b3866); */
    background-color: #023047;
    overflow: hidden;
}
.metab-social{

  padding-top: 20px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  visibility:hidden;
  transform: translateY(250%);
}
.close{
  position: absolute;
  top: -10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #219ebc;
  padding: 10px;
}
.isShow{
  transition: 3s linear;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.metab-social-item {
  display: block;
  margin: 40px;
  border: 3px solid #1d3557;
  padding: 10px 10px;
  padding-left: 10px;
  padding-right: 0px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  color:#053C5E;
}
.fade-loading{
  position: absolute;
  top: 50%;
}

.matab-typing{
  text-align: center;
  margin-top: 90px;
  z-index: 2;
}
.metab-title{
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 10px;
  /* font-weight: bold; */
  color: pink;
  font-family: 'Poppins', sans-serif;
}
.metab-image{
  width: 130px;
  height: 130px;
  border: 4px solid #219ebc;
  border: 4px solid #053C5E;
  border-radius: 100%;
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.metab-icon{
  padding-left: 10px;
}
.metab-contact{
  padding-left: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}
.container{
  width: 330px; 
  height: 450px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  box-shadow: #666666 5px 4px 12px 0px;
  z-index: 1;
  margin-top: -70px;
}
.metab-social{
  width: 330px; 
  height: 450px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-button{
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translateX(-50%);
  z-index: -2;
}
.typed-animation {
    display: inline-block;
    text-align: center;
    margin-top: 130px;
  }
  
  .typed-out {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.2rem solid rgb(39, 206, 184);
    font-size: 1.5rem;
    font-weight: 300;
    animation: typing 4s steps(40) 1, blinking 1s infinite;

    font-family: 'Roboto Slab', serif;
    /* padding-right: 0.5rem; */
    color:#457b9d;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
  
    50%, 90% {
      width: 100%;
    }
  }
  
  @keyframes blinking {
    0%, 100% {
      border-color: transparent;
    }
  
    50% {
      border-color: pink;
    }
  }

  

  .btn {
    --body-bg: #ffffff;
    --btn-gradient: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    --btn-txt-color: #ffffff;
    position: relative;
    border: none;
    outline: none;
    display: block;
  }
  
  .btn-animation {
    border-radius: 5px;
  }
  
  .btn-animation:hover {
    cursor: pointer;
  }
  
  .btn-animation span {
    display: block;
  }
  
  .btn-animation span:nth-child(1) {
    padding: 2rem 6.5rem;
    background-image: var(--btn-gradient);
    border-radius: 5px;
  }
  
  .btn-animation span:nth-child(2),
  .btn-animation span:nth-child(3),
  .btn-animation span:nth-child(4) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-animation span:nth-child(4) {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--btn-gradient);
    color: var(--btn-txt-color);
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    border-radius: 1px;
  }
  
  .btn-animation:hover span:nth-child(4) {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .btn-animation span:nth-child(3) {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: var(--body-bg);
    border-radius: 4px;
  }
  
  .btn-animation span:nth-child(2) {
    height: 60%;
    width: 100%;
    background-color: var(--body-bg);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  .fade-loading {
    display: flex;
    width: 12px;
    height: 12px;
    background-color: #2cccff;
    background-color: pink;
    border-radius: 100rem;
    margin: 10px auto;
    position: relative;
    margin-right: 30px;
  }
  
  .fade-loading:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    animation: fade 1s forwards infinite linear;
  }
  
  @keyframes fade {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
